body {
  background-color: #4c5e89;
}

#container {
  background-color: #001a57;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  height: 500px;
  position: absolute;
  width: 500px;
}

#personal-picture-container,
#personal-picture {

}

#personal-picture-container {

}

#name {

}

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-media-icons {
  margin-top: 40px;
  height: 50px;
}

.social-media-icon {

}

/* When a social media icon is hovered */
.social-media-icon:hover {

}

.directional-button {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 48px;
  top: 220px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.directional-button:hover {
  color: lightblue;
}

.directional-button.left {
  left: 20px;
}

.directional-button.right {
  right: 20px;
}

.page-header {

}

.about-me-item {

}

.item-image-container {

}

.item-image {

}

.item-description {

}

.item-description-title {

}

.item-description-subtitle {

}

.section-header {

}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-item {

}

.skill-item-label {

}

.skill-item-image,
.skill-item-image-container {

}

.skill-item-image-container {

}

.skill-item-image-container:hover {

}

.hidden {
  display: none;
}
